* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}
  
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #212121;
    margin-bottom: 0.5em;
}

p {
    margin-top: 1.5em;
}

.container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: cornsilk;
    border: 1px solid #afafaf;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.header {
    background-color: #337ab7;
    color: #fff;
    padding: 20px;
    text-align: center;
}
  
.header h1 {
    margin: 0;
}
  
.footer {
    background-color: #f7f7f7;
    color: #666;
    padding: 10px;
    text-align: center;
    clear: both;
}

button[type="submit"] {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
button[type="submit"]:hover {
    background-color: #3d1264;
}

input[type="number"] {
    padding: 15px;
    font-size: 18px;
    width: 300px;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f0f0f0;
}

.cinfoHd {
    font-weight: bold;
    text-align: center;
    background-color: blueviolet;
    color: #ddd;
}
.cinfoHdL {
    font-weight: bold;
    text-align: center;
    background-color: blueviolet;
    color: #ddd;
}
ul{
    list-style: none;
    padding: 0%;
}
a{
    text-decoration: none;
}
