<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="card">
            <br>
            <div class="card-header">
                <h2 class="text-center">BMI Calculator</h2>
            </div>
            <br>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-md-6 mt-5">
                        <form action="/" method="post">
                            <br>
                            <div class="form-group">
                                <label for="weight">Weight (kg)</label>
                                <input type="number" id="weight" name="weight" required/>
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="height">Height (cm)</label>
                                <input type="number" id="height" name="height" required/>
                            </div>
                            <br>
                            <button type="submit" name="submit" value="Calculate BMI">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br>
        {% if bmi %}
        <h3>Your BMI is: {{ bmi }}</h3>
        {% endif %}
        <br>
        <hr>
        <br>
        <div class="table">
            <table align="center">
                <tbody>
                    <tr><td class="cinfoHd">Classification</td><td class="cinfoHdL">BMI range - kg/m<sup>2</sup></td></tr>
                    <tr><td>Severe Thinness</td><td align="center">&lt; 16</td></tr>
                    <tr><td>Moderate Thinness</td><td align="center">16 - 17</td></tr>
                    <tr><td>Mild Thinness</td><td align="center">17 - 18.5</td></tr>
                    <tr><td>Normal</td><td align="center">18.5 - 25</td></tr>
                    <tr><td>Overweight</td><td align="center">25 - 30</td></tr>
                    <tr><td>Obese Class I</td><td align="center">30 - 35</td></tr>
                    <tr><td>Obese Class II</td><td align="center">35 - 40</td></tr>
                    <tr><td>Obese Class III</td><td align="center">&gt; 40</td></tr>
                </tbody>
            </table>
        </div>
        <br>
        <h2>Recommended Gyms:</h2>
        <ul>
            <li><a href="https://www.anytimefitness.com/" target="_blank">Anytime Fitness</a></li>
            <li><a href="https://www.planetfitness.com/" target="_blank">Planet Fitness</a></li>
            <li><a href="https://www.goldsgym.com/" target="_blank">Gold's Gym</a></li>
            <li><a href="https://www.facebook.com/p/Force-fitness-madhyamgram-100069067712547/" target="_blank">Force Fitness</a></li>
            <li><a href="https://www.facebook.com/people/Gym-Nation/61552169631165/?_rdr" target="_blank">Gym Nation</a></li>
        </ul>
        <p>*Go to Gym and workout atleast 5 days every week...*</p>
    </div>
</body>
</html>